 .u-section-1 {
  background-image: url("images/a33c29b4-0a40-4d00-929c-4a3b0db90e08.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 673px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 191px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: 0px 0px 8px rgba(245,214,84,0.65);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-size: 1.5rem;
  margin: 25px 85px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 52px auto 60px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 425px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 203px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.5rem;
    margin-top: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 41px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 122px;
  }
}